<div class="container">
    <div class="group-container jumbotron">
        <div class="jumbotron" id="fetchingData"></div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type to share" ng-model="syncData.name">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addNewData()">
                    <span class="glyphicon glyphicon-cloud-upload"></span></button>
            </div>
        </div>
    </div>
</div>