<div layout="column" layout-align="end center" ng-hide="!dataLoading">
    <md-progress-circular md-diameter="80"></md-progress-circular>
    <div>Loading . . .</div>
</div>
<md-content ng-hide="dataLoading" class="md-padding" flex>
    <md-tabs md-border-bottom md-autoselect md-swipe-content md-dynamic-height="">
        <ng-include src="'./app/components/dashboard/templates/createGroup.tpl.html'"></ng-include>
        <ng-include src="'./app/components/dashboard/templates/group.tpl.html'"></ng-include>
    </md-tabs>
</md-content>