<!-- HEADER SECTION  -->
<header class="header" ng-include="'./app/components/home/common/header.html'"></header>
<div class="d-flex align-items-stretch">
    <!-- SIDEBAR -->
    <nav class="nav-content" ng-class="{'shrinked' : vm.sidebarToggled}" id="sidebar" ng-include="'./app/components/home/common/sidebar.html'"></nav>
    <div class="page-content" ng-class="{'active' : vm.sidebarToggled}">
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <ol class="breadcrumb no-margin no-padding">
                    <li class="breadcrumb-item h5"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active text-secondary h5">Dashboard</li>
                </ol>
            </div>
        </div><br><br>
        <section class="no-padding-top no-padding-bottom">
            <!--DASHBOARD SECTION-->
            <div class="container-fluid">
                <div class="block" ng-show="user.groupsOpened.length === 0">
                    <div class="title"><strong class="">No group opened yet.</strong></div>
                </div>
                <div class="block" ng-show="user.groupsOpened.length !== 0">
                    <div class="container">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" ng-repeat="gID in user.groupsOpened" ng-click="vm.groupSetActive(gID)">
                                <a class="nav-link" ng-class="{'active' : user.activeGroup === gID}" data-toggle="tab" ng-href="#{{gID}}">
                                    <button class="close closeTab" type="button" ng-click="vm.groupClose(gID)">×</button>{{user.groupsData[gID].name}}
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade tab-pane-scrollable container" ng-repeat="gID in user.groupsOpened"
                                 ng-class="{'active show' : user.activeGroup === gID}"  id={{gID}}><br>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type something..."
                                               ng-model="user.groupsData[gID].upload.data">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" ng-click="vm.uploadData(gID);"
                                                    ng-disabled="user.groupsData[gID].upload.uploadData">UP</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="messages-block block">
                                    <div class="messages">
                                        <a class="message d-flex align-items-center" ng-repeat="gData in user.groupsData[gID].data | reverse">
                                            <div class="content">
                                                <strong class="d-block">{{user.nickname}}</strong>
                                                <span class="d-block">{{gData.data}}</span>
                                                <small class="date d-block">{{gData.date}}</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer class="footer" ng-include="'./app/components/home/common/footer.html'"></footer>
    </div>
</div>`