<nav class="navbar navbar-expand-lg" ng-show="vm.dataLoading">
    <div class="search-inner d-flex align-items-center justify-content-center">
        <div class="loader"></div>
    </div>
</nav>
<!-- HEADER SECTION  -->
<header class="header" ng-include="'./app/components/home/common/header.html'"></header>
<div class="d-flex align-items-stretch">
    <!-- SIDEBAR -->
    <nav class="nav-content" ng-class="{'shrinked' : vm.sidebarToggled}" id="sidebar" ng-include="'./app/components/home/common/sidebar.html'"></nav>
    <div class="page-content" ng-class="{'active' : vm.sidebarToggled}">
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <ol class="breadcrumb no-margin no-padding">
                    <li class="breadcrumb-item h5"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active text-secondary h5">Dashboard</li>
                </ol>
            </div>
        </div><br>
        <section class="no-padding no-margin">
            <!--DASHBOARD SECTION-->
            <div class="container-fluid">
                <div class="block col-lg-12">
                    <div class="title" ng-show="user.openedGroupsList.length === 0">
                        <p class="text-center text-danger"><strong>No group opened yet.</strong></p>
                    </div>
                    <div class="container" ng-show="user.openedGroupsList.length !== 0">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" ng-repeat="gID in user.openedGroupsList" ng-click="vm.groupSetActive(gID)">
                                <a class="nav-link" ng-class="{'active' : user.activeGroup === gID}" data-toggle="tab" ng-href="#{{gID}}">
                                    <button class="close closeTab" type="button" ng-click="vm.groupClose(gID)" title="Close group">×</button>
                                    {{user.openedGroupsData[gID].name}}
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--CONFIRM DELETION OF GROUP-->
                            <div class="modal fade" id="deleteConfirmModal">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title h5 text-light">Delete message.</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h1 class="text-secondary text-center">Are you sure you want<br> to delete the message?</h1>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" ng-click="vm.deleteMessage(vm.deleteMsg.gID, vm.deleteMsg.mID)" data-dismiss="modal">Delete</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade tab-pane-scrollable container" ng-repeat="gID in user.openedGroupsList"
                                 ng-class="{'active show' : user.activeGroup === gID}"  id={{gID}}><br>
                                <nav class="navbar navbar-expand-lg" ng-show="user.openedGroupsData[gID].dataLoading">
                                    <div class="search-inner d-flex align-items-center justify-content-center">
                                        <div class="loader"></div>
                                    </div>
                                </nav>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control form-control-sm animate msd-elastic: \n;" placeholder="Your text..."
                                                  ng-model="user.openedGroupsData[gID].upload.textData"></textarea>
                                        <span class="input-group-btn">
                                            <span style="height: 0; width: 0; overflow: hidden;"><input type="file" id="files" name="file[]" multiple/></span>
                                            <label for="files"></label>
                                            <button type="button" class="btn btn-outline-secondary btn-xs"
                                                    ng-disabled="user.openedGroupsData[gID].upload.uploadData" title="Attach file"
                                                    ng-click="vm.openFileLoader(gID)">
                                                    <i class="fa fa-paperclip"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-primary btn-xs" ng-click="vm.uploadData(user.openedGroupsData[gID]);"
                                                    ng-disabled="user.openedGroupsData[gID].upload.uploadData" title="Click to share data"
                                                    ng-class="{'col-sm-10' : user.openedGroupsData[gID].upload.textData.length>0 || user.openedGroupsData[gID].upload.files.length>0,
                                                               'col-sm-12' : !(user.openedGroupsData[gID].upload.textData.length>0 || user.openedGroupsData[gID].upload.files.length>0)}">
                                                        <small>UP</small></button><br>
                                        <button type="button" class="btn btn-outline-danger btn-xs col-sm-2" ng-click="vm.clearUploadData(gID)"
                                                    ng-show="user.openedGroupsData[gID].upload.textData.length>0 || user.openedGroupsData[gID].upload.files.length>0"
                                                    ng-disabled="user.openedGroupsData[gID].upload.uploadData"><small>Clear</small></button>
                                    </div>
                                    <ul>
                                        <li ng-repeat="file in user.openedGroupsData[gID].upload.files">
                                            <strong>{{file.name}}</strong> - {{file.size}} {{file.type}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="messages-block block">
                                    <div class="messages" style="overflow-x: hidden;" ng-repeat="gData in user.openedGroupsData[gID].data | reverse"
                                         ng-mouseover="vm.deleteButton[gData.id]=true;" ng-mouseleave="vm.deleteButton[gData.id]=false;">
                                        <button class="close closeTab text-danger" type="button" style="position:relative; right: 20px;"
                                                data-toggle="modal" data-target="#deleteConfirmModal" title="Delete message"
                                                ng-click="vm.deleteMsg.gID=gID; vm.deleteMsg.mID=gData.id;" ng-show="vm.deleteButton[gData.id] && gData.id !=='created' ">×</button>
                                        <a class="message d-flex align-items-center">
                                            <div class="content col-sm-12" ng-if="gData.type === 'text'">
                                                <div class="row">
                                                    <div class="avatar">
                                                        <img gravatar-src="user.avatar" ng-attr-title="{{user.email}}" alt="..." class="img-fluid rounded-circle">
                                                    </div>
                                                    <div >
                                                        <span class="d-block text-overflow" ng-attr-title="From: {{user.nickname}}"><strong>{{user.nickname}}</strong>
                                                            <strong class="h5" ng-show="$index <= user.unreadMessages[gID]-1"> * </strong>
                                                        </span>
                                                        <span class="d-block text-overflow" ng-attr-title="Send: {{gData.data}}">{{gData.data}}</span>
                                                        <small class="date d-block text-overflow" ng-attr-title="At: {{gData.date}}">{{gData.date}}</small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="content" ng-if="gData.type !== 'text'">
                                                <div class="row">
                                                    <div class="avatar col-sm-2">
                                                        <img gravatar-src="user.avatar" ng-attr-title="{{user.email}}" alt="..." class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <span class="d-block text-overflow" ng-attr-title="From:{{user.nickname}}"><strong>{{user.nickname}}</strong>
                                                            <strong class="h5" ng-show="$index <= user.unreadMessages[gID]-1"> * </strong>
                                                        </span>
                                                        <span class="d-block text-primary text-overflow"
                                                              ng-click="vm.saveAs(gID, gData.id)" style="cursor: pointer;">
                                                                <i class="fa fa-download" style="font-size:20px;"></i>
                                                            <span class="text-overflow" ng-attr-title="Send: {{gData.data}}">{{gData.data}}</span>
                                                        </span>
                                                        <small class="date d-block text-overflow" ng-attr-title="At: {{gData.date}}">{{gData.date}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5"></div>
                                    <a href="" class="col-sm-3 border-primary text-primary" ng-click="vm.loadMoreData(gID)" ng-hide="user.openedGroupsData[gID].noMoreData"> Load more messages ...</a>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer class="footer" ng-include="'./app/components/home/common/footer.html'"></footer>
    </div>
</div>`