<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-8" src="img/logo.png" alt="">
                                <div class="col-sm-2"></div>
                            </div><br>
                            <p class="text-center">Welcome on pushUP</p>
                            <p>Login or Signup now free and start sharing data between your devices.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="register-form">
                                <div class="form-group">
                                    <input id="register-nickname" type="text" name="registerNickname" required class="input-material">
                                    <label for="register-nickname" class="label-material">Nickname</label>
                                </div>
                                <div class="form-group">
                                    <input id="register-email" type="email" name="registerEmail" required class="input-material">
                                    <label for="register-email" class="label-material">Email Address</label>
                                </div>
                                <div class="form-group">
                                    <input id="register-password" type="password" name="registerPassword" required class="input-material">
                                    <label for="register-password" class="label-material">Password</label>
                                </div>
                                <div class="form-group">
                                    <input id="register-confirmPassword" type="password" name="registerConfirmPassword" required class="input-material">
                                    <label for="register-confirmPassword" class="label-material">Confirm Password</label>
                                </div>
                                <input id="register" type="submit" value="Register" class="btn btn-primary">
                            </form><small>Already have an account? </small><a href="/login" class="signup">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>