<div class="sidebar-header d-flex align-items-center">
    <div class="avatar bg-dark border-dark">
        <img gravatar-src="user.usersDetails[user.email].avatar" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
        <h1 class="h5">{{user.usersDetails[user.email].nickname}}</h1>
        <a class="small">{{user.email}}</a>
    </div>
</div><span class="heading">Main</span>
<ul class="list-unstyled">
    <li ng-class="{'active' : vm.templateURL==='/home'}">
        <a href="/home">
            <i class="icon-home"></i>Home</a>
    </li>
    <li ng-class="{'active' : vm.templateURL==='/home/dashboard'}">
        <a href="/home/dashboard" ng-class="{'collapse' : vm.templateURL==='/home/dashboard'}">
            <i class="icon-cloud"></i> Dashboard
            <span class="badge bg-primary text-dark" ng-show="user.unreadMessages.groups+user.unreadMessages.participate>0">{{user.unreadMessages.groups+user.unreadMessages.participate}}</span>
        </a>
        <ul id="dashboardList" class="collapse list-unstyled" ng-class="{'show' : vm.templateURL==='/home/dashboard'}">
            <li>
                <a href="" ng-click="vm.openGroupCreateModal()"><i class="icon-new-file"></i> Create a group</a>
            </li>
            <li ng-show="user.groupsList.length!=0">
                <a href="" ng-click="vm.openShareGroupModal()"><i class="fa fa-share-alt"></i> Share a group</a>
            </li>
            <li>
                <a href="" data-toggle="collapse" data-target="#groupsList"> <i class="icon-windows"></i> My groups
                    <span class="badge bg-primary text-dark" ng-show="user.unreadMessages.groups>0">{{user.unreadMessages.groups}}</span></a>
                <ul id="groupsList" class="collapse list-unstyled" style="max-height: 250px; overflow-y:auto;">
                    <li ng-repeat="gID in user.groupsList">
                        <a href="" ng-click="vm.groupOpen(gID)" class="text-overflow" style="overflow-x: hidden;">
                            <span class="badge bg-primary text-dark" ng-show="user.unreadMessages[gID]>0">{{user.unreadMessages[gID]}}</span> {{user.groupsNames[gID]}}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" data-toggle="collapse" data-target="#participateGroupsList"> <i class="fa fa-users"></i><small> Participate groups </small>
                    <span class="badge bg-primary text-dark" ng-show="user.unreadMessages.participate>0">{{user.unreadMessages.participate}}</span></a>
                <ul id="participateGroupsList" class="collapse list-unstyled" style="max-height: 250px; overflow-y:auto;">
                    <li ng-repeat="gID in user.participateGroupsList">
                        <a href="" ng-click="vm.groupOpen(gID)" class="text-overflow" style="overflow-x: hidden;">
                            <span class="badge bg-primary text-dark" ng-show="user.unreadMessages[gID]>0">{{user.unreadMessages[gID]}}</span> {{user.groupsNames[gID]}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul>
<span class="heading">Settings</span>
<ul class="list-unstyled">
    <li ng-class="{'active' : vm.templateURL==='/home/groups/settings'}">
        <a href="/home/groups/settings">
            <i class="icon-padnote"></i>Groups</a>
    </li>
    <li ng-class="{'active' : vm.templateURL==='/home/account/settings'}">
        <a href="/home/account/settings">
            <i class="icon-settings"></i>Account</a>
    </li>
</ul>