<nav class="navbar navbar-expand-lg" ng-show="vm.dataLoading">
    <div class="search-inner d-flex align-items-center justify-content-center">
        <div class="loader"></div>
    </div>
</nav>
<!-- HEADER SECTION BEGIN -->
<header class="header" ng-include="'./app/components/home/common/header.html'"></header>
<!-- HEADER SECTION END-->

<div class="d-flex align-items-stretch">
    <!-- SIDEBAR BEGIN-->
    <nav class="nav-content" ng-class="{'shrinked' : vm.sidebarToggled}" id="sidebar" ng-include="'./app/components/home/common/sidebar.html'"></nav>
    <!-- SIDEBAR END-->

    <div class="page-content" ng-class="{'active' : vm.sidebarToggled}">
        <div class="page-header">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Home</h2>
            </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="login-page no-padding-top no-padding-bottom">
                            <div class="container-fluid d-flex align-items-center">
                                <div class="form-holder has-shadow">
                                    <div class="row">
                                        <!-- Logo & Information Panel-->
                                        <div class="col-lg-6">
                                            <div class="form d-flex align-items-center">
                                                <div class="content">
                                                    <div class="logo row">
                                                        <div class="col-sm-3"></div>
                                                        <img class="col-sm-6 logo-size" src="./assets/img/PushUp/pushUp_dark_glow.png" alt="">
                                                        <div class="col-sm-3"></div>
                                                    </div><br>
                                                    <h2 class="h5 text-center text-secondary">Create new group or open one of groups<br> and share you data!</h2>
                                                    <h2 class="h5 text-center text-secondary">Click <a href="/home/dashboard">here</a> to start</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 bg-white">
                                            <div class="info d-flex align-items-center">
                                                <div class="content">
                                                    <div class="logo row">
                                                        <div class="col-sm-3"></div>
                                                        <img class="col-sm-6 logo-size" src="./assets/img/Home/home_dark.png" alt="">
                                                        <div class="col-sm-3"></div>
                                                    </div><br>
                                                    <h2 class="h5 no-margin-bottom text-center text-dark text-bold">Welcome
                                                        <span class="dashtext-4">{{user.nickname}}</span> on pushUP.</h2>
                                                    <h2 class="h5 no-margin-bottom text-center text-dark text-bold">
                                                        Click <a href="/home/account/settings" class="dashtext-3">here</a> to manage your account details</h2><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER BEGIN -->
        <footer class="footer" ng-include="'./app/components/home/common/footer.html'"></footer>
        <!-- FOOTER END -->
    </div>
</div>