<md-tab>
    <md-tab-label>Add group</md-tab-label>
    <md-tab-body>
        <div layout="column" layout-align="center center">
            <form name="newGroupForm" ng-submit="vm.groupCreate()" role="form">
                <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                    <div layout="row" layout-xs="column">
                        <md-input-container flex>
                            <label for="newGroupName">Group name</label>
                            <input type='text' id="newGroupName" name='newGroupName' ng-model="vm.group.name" required>
                        </md-input-container>
                        <div layout="row">
                            <md-button type="submit" ng-disabled="vm.group.creating" class="md-accent">
                                <span class="glyphicon glyphicon-list-alt"> Add </span>
                            </md-button>
                            <md-progress-circular ng-hide="!vm.group.creating" class="md-primary" md-diameter="30px">
                            </md-progress-circular>
                        </div>
                    </div>
                </md-content>
            </form>
        </div>
    </md-tab-body>
</md-tab>