<div ng-hide="!vm.registerComplete" layout="column" layout-align="top center">
    <h3> Register complete! </h3>
    <h4> redirecting to login page in 2 seconds...</h4>
    <h6> press <a href="/login">here</a> if you don't redirect automatically</h6>
</div>
<div ng-hide="vm.registerComplete" layout="column" layout-align="top center">
    <h3>Register form</h3>
    <md-content layout-padding>
        <form name="registerForm" ng-submit="vm.register($event)" role="form">
            <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                <div layout="column">

                    <md-input-container>
                        <label for="nickname">Nickname</label>
                        <input type='text' id="nickname" name='nickname' ng-model="vm.user.uNickname" ng-disabled="vm.dataLoading"
                               required minlength="3" maxlength="15">
                        <div ng-messages ="registerForm.nickname.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                Your Nickname must be between 3 and 15 characters.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label for="email">Email</label>
                        <input type='email' id="email" name='email' ng-model="vm.user.uEmail" ng-disabled="vm.dataLoading"
                               ng-blur="vm.accountEmailExists(registerForm.email.$valid)"
                               required ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="registerForm.email.$error" role="alert">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pattern">Invalid email.</div>
                            <div ng-hide="!vm.emailExists">Email already exists.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label for="password">Password</label>
                        <input type='password' id="password" name="password" ng-model="vm.user.uPassword" ng-disabled="vm.dataLoading"
                               required ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
                        <div ng-messages="registerForm.password.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                You password must be between 8 and 20 characters.
                            </div>
                            <div ng-message="pattern">
                                Must contain one lower &amp; uppercase letter, and<br>
                                one non-alpha character (a number or a symbol)
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                               ng-model="vm.user.uConfirmPassword" ng-disabled="vm.dataLoading"
                               required data-match="vm.user.uPassword">
                        <div ng-messages="registerForm.confirmPassword.$error">
                            <div ng-message="required">Please confirm your password.</div>
                            <div ng-message="match">Passwords do not match.</div>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-button ng-disabled="vm.dataLoading" type="submit" class="md-accent">Register</md-button>
                        <md-button ng-disabled="vm.dataLoading" type="reset" class="md-warn">Clear</md-button>
                        <md-progress-circular ng-hide="!vm.dataLoading" class="md-primary" md-diameter="30px"></md-progress-circular>
                    </div>
                </div>
            </md-content>
        </form>
    </md-content>
</div>