<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-8" src="./assets/img/SignUp/signUp_dark.png" alt="">
                                <div class="col-sm-2"></div>
                            </div><br>
                            <h4 class="h5 text-center text-info"><strong>Register </strong> form</h4>
                            <p class="text-center text-light">Type your information and make account for free.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="registerForm" name="registerForm" ng-submit="vm.register(registerForm.$valid)" novalidate>

                                <!---->
                                <div class="form-group">
                                    <input id="register-nickname" class="input-material" type="text" name="uNickname"
                                           required ng-model="vm.user.uNickname" ng-minlength="3" ng-maxlength="15"
                                           title="Must be between 3 and 15 characters"
                                           ng-class="{'border-danger' : registerForm.uNickname.$invalid && registerForm.uNickname.$touched ,
                                                      'border-success': !registerForm.uNickname.$invalid}"
                                           ng-focus="registerForm.uNickname.focus=true"
                                           ng-blur="registerForm.uNickname.focus=vm.user.uNickname.length > 0 ||
                                                    registerForm.uNickname.$error.minlength || registerForm.uNickname.$error.maxlength">
                                    <label for="register-nickname" class="label-material"
                                           ng-class="{'active' : registerForm.uNickname.focus}"> Nickname *</label>

                                    <small ng-show="!registerForm.uNickname.$error.minlength && !registerForm.uNickname.$error.maxlength &&
                                                registerForm.uNickname.$invalid && registerForm.uNickname.$touched"
                                        class="text-danger">Nickname is required.</small>
                                    <small ng-show="registerForm.uNickname.$error.minlength"
                                        class="text-danger">Nickname is too short. Minimum length is 3 characters!</small>
                                    <small ng-show="registerForm.uNickname.$error.maxlength"
                                        class="text-danger">Nickname is too long. Maximum length is 15 characters!</small>
                                </div>
                                <!---->
                                <div class="form-group">
                                    <input id="register-email" class="input-material" type="email" name="uEmail"
                                           required ng-model="vm.user.uEmail" ng-pattern="/^.+@.+\..+$/"
                                           email-exists="!$registerForm.uEmail.$invalid"
                                           title="Type your email address"
                                           ng-class="{'border-danger' : registerForm.uEmail.$invalid && registerForm.uEmail.$touched ,
                                                      'border-success': !registerForm.uEmail.$invalid}"
                                           ng-focus="registerForm.uEmail.focus=true"
                                           ng-blur="registerForm.uEmail.focus=vm.user.uEmail.length>0 || !registerForm.uEmail.$invalid ||
                                                    registerForm.uEmail.$error.pattern || registerForm.uEmail.$error.emailExists">
                                    <label for="register-email" class="label-material"
                                           ng-class="{'active' : registerForm.uEmail.focus}"> Email *</label>

                                    <small ng-show="!registerForm.uEmail.$error.emailExists && !registerForm.uEmail.$error.pattern &&
                                            registerForm.uEmail.$invalid && registerForm.uEmail.$touched"
                                        class="text-danger">Email is required.</small>
                                    <small ng-show="registerForm.uEmail.$error.pattern"
                                        class="text-danger">Email is invalid. Example csd3166@csd.gr</small>
                                    <small ng-show="registerForm.uEmail.$error.emailExists"
                                        class="text-danger">Email already exists.</small>
                                </div>

                                <!---->
                                <div class="form-group">
                                    <input id="register-password" class="input-material" type="password" name="uPassword"
                                           required ng-model="vm.user.uPassword"
                                           ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                           title="Must contain one lower &amp; uppercase letter, and at least one number or symbol. Minimum length is 8 characters"
                                           ng-class="{'border-danger' : registerForm.uPassword.$invalid && registerForm.uPassword.$touched,
                                                       'border-success': !registerForm.uPassword.$invalid}"
                                           ng-focus="registerForm.uPassword.focus=true"
                                           ng-blur="registerForm.uPassword.focus=vm.user.uPassword.length>0 || registerForm.uPassword.$error.pattern ||
                                                    registerForm.uPassword.$error.minlength || registerForm.uPassword.$error.maxlength">
                                    <label for="register-password" class="label-material"
                                           ng-class="{'active' : registerForm.uPassword.focus}"> Password *</label>

                                    <small ng-show="!registerForm.uPassword.$error.minlength && !registerForm.uPassword.$error.maxlength &&
                                                !registerForm.uPassword.$error.pattern && registerForm.uPassword.$invalid && registerForm.uPassword.$touched"
                                        class="text-danger">Password is required.</small>
                                    <small ng-show="registerForm.uPassword.$error.minlength"
                                       class="text-danger">Password is too short. Minimum length is 8 characters!</small>
                                    <small ng-show="registerForm.uPassword.$error.maxlength"
                                       class="text-danger">Password is too long. Maximum length is 20 characters!</small>
                                    <small ng-show="registerForm.uPassword.$error.pattern && !registerForm.uPassword.$error.minlength &&
                                                !registerForm.uPassword.$error.maxlength"
                                       class="text-danger">Password must contain one lower &amp; uppercase letter, and at least one number or symbol</small>
                                </div>

                                <div class="form-group">
                                    <input id="register-repeatPassword" class="input-material" type="password" name="uRepeatPassword"
                                           required ng-model="vm.user.uRepeatPassword" compare-to="vm.user.uPassword"
                                           title="Retype your password."
                                           ng-class="{ 'border-danger' : registerForm.uRepeatPassword.$invalid && registerForm.uRepeatPassword.$touched,
                                                       'border-success': !registerForm.uRepeatPassword.$invalid}"
                                           ng-focus="registerForm.uRepeatPassword.focus=true"
                                           ng-blur="registerForm.uRepeatPassword.focus=vm.user.uRepeatPassword.length>0 ||
                                                    registerForm.uRepeatPassword.$error.compareto">
                                    <label for="register-repeatPassword" class="label-material"
                                           ng-class="{'active' : registerForm.uRepeatPassword.focus}"> Confirm Password *</label>

                                    <small ng-show="!registerForm.uRepeatPassword.$error.compareto &&
                                                 registerForm.uRepeatPassword.$invalid && registerForm.uRepeatPassword.$touched"
                                       class="text-danger">Confirm password is required.</small>
                                    <small ng-show="registerForm.uRepeatPassword.$error.compareto && registerForm.uPassword.$valid"
                                        class="text-danger">Passwords don't matched.</small>
                                    <small ng-show="registerForm.uRepeatPassword.$error.compareto && registerForm.uPassword.$invalid"
                                       class="text-danger">Confirm password is invalid.</small>
                                </div>
                                <button ng-disabled="vm.dataLoading || registerForm.$invalid" id="register" type="submit" class="btn btn-primary"> Register </button>
                            </form>
                            <small>Already have an account? </small><a href="/login" class="signup">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/" class="external"> Home </a> | </span>
        <span><a href="/login" class="external"> Login </a> | </span>
        <a href="/about" class="external"> About </a>
        <p>2017 &copy; <a href="/home" class="external">Push UP.</a></p>
    </div>
</div>