<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-8" src="./assets/img/logo.png" alt="">
                                <div class="col-sm-2"></div>
                            </div><br>
                            <p class="text-center">Welcome on pushUP</p>
                            <p>Login or Sign up now and start sharing data between your devices.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="registerForm" name="registerForm" ng-submit="vm.register()" role="form">

                                <div class="form-group">
                                    <input id="register-nickname" class="input-material" type="text" name="registerNickname"
                                           required ng-model="vm.user.uNickname" minlength="3" maxlength="15">
                                    <label for="register-nickname" class="label-material"> Nickname </label>
                                    <div ng-messages ="registerForm.registerNickname.$error">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            Your Nickname must be between 3 and 15 characters.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input id="register-email" class="input-material" type="email" name="registerEmail"
                                           ng-model="vm.user.uEmail"
                                           required ng-blur="vm.accountEmailExists(registerForm.email.$valid)"
                                           ng-pattern="/^.+@.+\..+$/">
                                    <label for="register-email" class="label-material"> Email Address </label>
                                    <div ng-messages="registerForm.registerEmail.$error" role="alert">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">Invalid email address.</div>
                                        <div ng-hide="!vm.emailExists">Email address already exists.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input id="register-password" class="input-material" type="password" name="registerPassword"
                                           ng-model="vm.user.uPassword"
                                           required ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
                                    <label for="register-password" class="label-material"> Password </label>
                                    <div ng-messages="registerForm.registerPassword.$error">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            You password must be between 8 and 20 characters.
                                        </div>
                                        <div ng-message="pattern">
                                            Must contain one lower &amp; uppercase letter, and<br>
                                            one non-alpha character (a number or a symbol)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input id="register-confirmPassword" class="input-material" type="password" name="registerConfirmPassword"
                                           ng-model="vm.user.uConfirmPassword"
                                           required data-match="vm.user.uPassword">
                                    <label for="register-confirmPassword" class="label-material"> Confirm Password </label>
                                    <div ng-messages="registerForm.registerConfirmPassword.$error">
                                        <div ng-message="required">Please confirm your password.</div>
                                        <div ng-message="match">Passwords do not match.</div>
                                    </div>
                                </div>
                                <div ng-hide="!vm.alert.enabled" class="alert alert-danger">
                                    <strong>{{vm.alert.title}}</strong>{{vm.alert.msg}}
                                </div>
                                <button ng-disabled="vm.dataLoading" id="register" type="submit" class="btn btn-primary"> Register </button>
                            </form>
                            <small>Already have an account? </small><a href="/login" class="signup">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/login" class="external"> Login </a> | </span>
        <span><a href="/register" class="external"> Sign up </a> | </span>
        <a href="/about" class="external"> About </a>
        <p>2017 &copy; <a href="/home" class="external">Push UP.</a></p>
    </div>
</div>