<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-3"></div>
                                <img class="col-sm-6 logo-size " src="./assets/img/WelcomeOn/welcomeOn_dark.png" alt="">
                                <div class="col-sm-3"></div>
                            </div><br>
                            <strong class="text-center text-dark"><a href="/login" class="dashtext-4">Login</a> or <a href="/signup" class="dashtext-4">Sign up</a> now free and start sharing data between your devices.</strong>
                        </div>
                    </div>
                </div>
                <!-- Form Panel -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-3"></div>
                                <img class="col-sm-6 logo-size " src="./assets/img/PushUp/pushUp_dark_glow.png" alt="">
                                <div class="col-sm-3"></div>
                            </div><br>
                            <strong class="text-center text-secondary">Create and modify more than one groups. Send text and files from one device to another with one press only</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/login" class="external"> Login </a> | </span>
        <span><a href="/signup" class="external"> Sign up </a> | </span>
        <a href="/about" class="external"> About </a>
        <p>2017 &copy; <a href="/home" class="external">Push UP.</a></p>
    </div>
</div>