<!-- HEADER SECTION  -->
<header class="header" ng-include="'./app/components/home/common/header.html'"></header>
<div class="d-flex align-items-stretch">
    <!-- SIDEBAR -->
    <nav class="nav-content" ng-class="{'shrinked' : vm.sidebarToggled}" id="sidebar" ng-include="'./app/components/home/common/sidebar.html'"></nav>
    <div class="page-content" ng-class="{'active' : vm.sidebarToggled}">
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <ol class="breadcrumb no-margin no-padding">
                    <li class="breadcrumb-item h5"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active text-secondary h5">Account settings</li>
                </ol>
            </div>
        </div><br><br>
        <section class="no-padding-top no-padding-bottom">
            <div class="container-fluid">
                <div class="block">
                    <div class="title"><strong>Edit your account details.</strong></div>
                    <div class="block-body">
                        <div class="line"></div>
                        <form class="form-horizontal" id="accountSettingsForm" name="accountSettingsForm" novalidate ng-submit="vm.updateAccount()">

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"> Login email </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled ng-model="user.email">
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"> Nickname </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled ng-model="user.nickname">
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"> New Nickname </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Type your new nickname" class="form-control" id='newNickname_input' name="newNickname"
                                           title="Must be between 3 and 15 characters" ng-minlength="3" ng-maxlength="15"
                                           ng-model="vm.accountSettings.newNickname"
                                           ng-class="{'border-danger' : accountSettingsForm.newNickname.$error.minlength || accountSettingsForm.newNickname.$error.maxlength ,
                                                      'border-success': !accountSettingsForm.newNickname.$invalid && vm.accountSettings.newNickname.length>0}">
                                    <small ng-show="accountSettingsForm.newNickname.$error.minlength"
                                           class="text-danger help-block-none">Nickname is too short. Minimum length is 3 characters!</small>
                                    <small ng-show="accountSettingsForm.newNickname.$error.maxlength"
                                           class="text-danger">Nickname is too long. Maximum length is 15 characters!</small>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Current password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="curPassword_input" name="curPassword" placeholder="Type your current password" class="form-control"
                                           ng-model="vm.accountSettings.curPassword"
                                           ng-class="{'border-danger' : vm.accountSettings.curPassword.length<8 &&
                                           (vm.accountSettings.newNickname.length>0 || vm.accountSettings.newPassword.length>0),
                                           'border-success' : vm.accountSettings.curPassword.length>=8 &&
                                           (vm.accountSettings.newNickname.length>0 || vm.accountSettings.newPassword.length>0)}"
                                           ng-required="vm.accountSettings.newNickname.length>0 || vm.accountSettings.newPassword.length>0">
                                    <small class="help-block-none text-danger"
                                           ng-show="(vm.accountSettings.newNickname.length>0 || vm.accountSettings.newPassword.length>0) &&
                                                                                                 !vm.accountSettings.curPassword.length>8">
                                            Current password required to save your changes</small>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">New password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="newPassword_input" name="newPassword" placeholder="Type your new password" class="form-control"
                                           ng-model="vm.accountSettings.newPassword"
                                           ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                           title="Must contain one lower &amp; uppercase letter, and at least one number or symbol. Minimum length is 8 characters"
                                           ng-class="{'border-danger' : accountSettingsForm.newPassword.$error.minlength || accountSettingsForm.newPassword.$error.maxlength ||
                                                                         accountSettingsForm.newPassword.$error.pattern,
                                                      'border-success' : !accountSettingsForm.newPassword.$invalid && vm.accountSettings.newPassword.length>0}">
                                    <small ng-show="accountSettingsForm.newPassword.$error.minlength"
                                           class="text-danger">Password is too short. Minimum length is 8 characters!</small>
                                    <small ng-show="accountSettingsForm.newPassword.$error.maxlength"
                                           class="text-danger">Password is too long. Maximum length is 20 characters!</small>
                                    <small ng-show="accountSettingsForm.newPassword.$error.pattern && !accountSettingsForm.newPassword.$error.minlength &&
                                                !accountSettingsForm.newPassword.$error.maxlength"
                                           class="text-danger">Password must contain one lower &amp; uppercase letter, and at least one number or symbol</small>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Confirm new password</label>
                                <div class="col-sm-9">
                                    <input type="password" id="confirmNewPassword_input" name="confirmNewPassword" placeholder="Retype your new password" class="form-control"
                                           ng-model="vm.accountSettings.confirmNewPassword" compare-to="vm.accountSettings.newPassword"
                                           title="Retype your new password"
                                           ng-class="{ 'border-danger' : (accountSettingsForm.newPassword.$invalid || vm.accountSettings.newPassword.length>0 ) &&
                                                                        (accountSettingsForm.confirmNewPassword.$error.compareto || !accountSettingsForm.confirmNewPassword.$touched),
                                                       'border-success': !accountSettingsForm.confirmNewPassword.$invalid && vm.accountSettings.confirmNewPassword.length>0}">
                                    <small ng-show="!accountSettingsForm.confirmNewPassword.$touched && accountSettingsForm.newPassword.$invalid"
                                           class="text-danger">Confirm new password is required</small>
                                    <small ng-show="accountSettingsForm.confirmNewPassword.$error.compareto && vm.accountSettings.newPassword.length>0"
                                           class="text-danger">Passwords don't matched.</small>
                                    <small ng-show="accountSettingsForm.confirmNewPassword.$error.compareto && accountSettingsForm.confirmNewPassword.$touched &&
                                    (accountSettingsForm.newPassword.$error.minlength || accountSettingsForm.newPassword.$error.maxlength || accountSettingsForm.newPassword.$error.pattern)"
                                           class="text-danger">Confirm password is invalid.</small>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                    <button type="submit" class="btn btn-primary" ng-disabled="vm.accountSettings.applyChanges">Save changes</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer class="footer" ng-include="'./app/components/home/common/footer.html'"></footer>
    </div>
</div>