<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo row">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-8" src="./assets/img/logo.png" alt="">
                                <div class="col-sm-2"></div>
                            </div><br>
                            <p class="text-center">Welcome on pushUP</p>
                            <p>Login or Sign up now and start sharing data between your devices.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="login-form" name="loginForm"
                                  ng-submit="vm.login()" role="form">
                                <div ng-hide="!vm.registerComplete" class="alert alert-success">
                                    <strong>Register complete!</strong> Type your account credentials to login.
                                </div>
                                <div class="form-group">
                                    <input id="login-userEmail" class="input-material" type="text"
                                           name="loginUserEmail" required ng-model="vm.user.uEmail">
                                    <label for="login-userEmail" class="label-material">Email</label>
                                </div>
                                <div class="form-group">
                                    <input id="login-password" class="input-material" type="password"
                                           name="loginPassword" required ng-model="vm.user.uPassword">
                                    <label for="login-password" class="label-material">Password</label>
                                </div>
                                <div class="alert alert-danger" ng-hide="!vm.loginError">
                                    <strong>Login fail!</strong> Email or password do not matched.
                                </div>
                                <button id="login" type="submit" class="btn btn-primary"
                                        ng-disabled="vm.dataLoading">Login</button>
                            </form><!--<a href="#" class="forgot-pass">Forgot Password?</a><br>-->
                            <small>Do not have an account? </small><a href="/register" class="signup">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/login" class="external"> Login </a> | </span>
        <span><a href="/register" class="external"> Sign up </a> | </span>
        <a href="/about" class="external"> About </a>
        <p>2017 &copy; <a href="/home" class="external">Push UP.</a></p>
    </div>
</div>