<nav class="navbar navbar-expand-lg" ng-show="vm.dataLoading">
    <div class="search-inner d-flex align-items-center justify-content-center">
        <div class="loader"></div>
    </div>
</nav>
<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="row ">
                                <div class="col-sm-3"></div>
                                <img class="col-sm-6 logo-size" src="./assets/img/Login/login_dark.png" alt="">
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form Panel -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.loginCauseSuccess.enabled">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{vm.loginCauseSuccess.title}}</strong><br> {{vm.loginCauseSuccess.msg}}
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.loginCauseError.enabled">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Logout cause error!</strong><br> {{vm.loginCauseError.msg}}<br>
                                <small class="text-dark">If error continues please contact us!</small>
                            </div>

                            <form id="login-form" name="loginForm"
                                  ng-submit="vm.login()" role="form">
                                <div class="form-group">
                                    <input id="login-userEmail" class="input-material" type="text"
                                            name="loginUserEmail" required ng-model="vm.user.uEmail"
                                            ng-focus="loginForm.loginUserEmail.focus=true"
                                            ng-blur="loginForm.loginUserEmail.focus=vm.user.uEmail.length>0">
                                    <label for="login-userEmail" class="label-material"
                                           ng-class="{'active' : loginForm.loginUserEmail.focus}">Email</label>
                                </div>
                                <div class="form-group">
                                    <input id="login-password" class="input-material" type="password"
                                           name="loginPassword" required ng-model="vm.user.uPassword"
                                           ng-focus="loginForm.loginPassword.focus=true"
                                           ng-blur="loginForm.loginPassword.focus=vm.user.uPassword.length>0">
                                    <label for="login-password" class="label-material"
                                           ng-class="{'active' : loginForm.loginPassword.focus}">Password</label>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-4">
                                        <input id="option" type="checkbox" value="false" ng-model="vm.user.rememberMe">
                                        <label for="option">Remember me</label>
                                    </div>
                                </div>
                                <button id="login" type="submit" class="btn btn-primary items-align-right"
                                        ng-disabled="vm.dataLoading">Login
                                </button>

                            </form>
                            <small>Do not have an account? </small><a href="/signup" class="signup">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/" class="external"> Home </a> | </span>
        <span><a href="/signup" class="external"> Sign up </a> | </span>
        <a href="/about" class="external"> About </a>
        <p>2017 &copy; <a href="/" class="external">Push UP.</a></p>
    </div>
</div>