<div class="login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content" ng-include="'./app/components/about/about.tpl.html'"></div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content ">
                            <div class="logo row">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-8 logo-size" src="./assets/img/About/about_dark.png" alt="">
                                <div class="col-sm-2"></div>
                            </div><br>
                            <strong class="text-center text-dark">Take a look here, where you will find details about me and the site. </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <span><a href="/" class="external"> Home </a> | </span>
        <span><a href="/login" class="external"> Login </a> | </span>
        <span><a href="/register" class="external"> Sign up </a></span>
        <p>2017 &copy; <a href="/home" class="external">Push UP.</a></p>
    </div>
</div>