<h2 class="h5 no-margin-bottom text-center text-primary text-bold">Who am i ?</h2>
<div class="line"></div>
<p class="text-center text-secondary">
    I'm Tasos Anastasas and I'm 23 years old. I was born in the Rhodes.
    <br>Now i am stay in Crete
    and i'm studying at the Department of Computer Science of the University of Crete.
    <br>I like to occupy mainly with programming. <br>My favorite programming languages are java and C.
</p><br>
<div class="line"></div>
<h2 class="h5 no-margin-bottom text-center text-primary text-bold">What is this website?</h2>
<div class="line"></div>
<p class="text-center text-secondary">
    Ιn the framework of my diplomatic work, I developed this application
    that allows me to send text and / or files
    between my devices by register and login on website.
    <br>The idea came from my need to send notes and files directly from my cell phone to my computer
    without having to always have a cable with me.
</p>